extends ../layout-red.pug

block main
	.container
		-
			var data = {
					avatar: 'avatar.jpg', 
					name: 'Кристина Иванова', 
					position: 'Специалист по недвижимости',
					social: [
						{name: 'vk', link: '#'},
						{name: 'site', link: '#'},
						{name: 'whatsapp', link: '#'},
						{name: 'telegram', link: '#'},
						{name: 'viber', link: '#'},
						{name: 'tiktok', link: '#'},
					],
					theme: 'red'
				};
		+person-card(data, 'card--red person')