include /components/btn/_btn.pug
include /components/title/_title.pug
include /components/person/person-image/_person-image.pug
include /components/person/person-info/_person-info.pug

include /blocks/person-card/_person-card.pug
include /blocks/social/_social.pug




